In [ ]:
import pandas as pd
import numpy as np

## Задание 0

In [ ]:
!gdown 12Lp82xYOYJUSh5q4FPh14eNldBfAYwwK

Downloading...
From: https://drive.google.com/uc?id=12Lp82xYOYJUSh5q4FPh14eNldBfAYwwK
To: /content/transactions.csv
100% 314M/314M [00:03<00:00, 84.6MB/s]

In [ ]:
transactions=pd.read_csv(filepath_or_buffer = "transactions.csv",
           sep = ',',nrows=1000000)
transactions

        customer_id   tr_datetime  mcc_code  tr_type    amount   term_id
0          39026145    0 10:23:26      4814     1030  -2245.92       NaN
1          39026145    1 10:19:29      6011     7010  56147.89       NaN
2          39026145    1 10:20:56      4829     2330 -56147.89       NaN
3          39026145    1 10:39:54      5499     1010  -1392.47       NaN
4          39026145    2 15:33:42      5499     1010   -920.83       NaN
...             ...           ...       ...      ...       ...       ...
999995     98801178  269 10:29:06      5921     1010 -23016.59    127873
999996     98801178  270 10:26:45      5211     1010 -61380.88  10114209
999997     98801178  270 15:18:53      5921     1010 -11800.27  10105341
999998     98801178  271 12:47:13      5211     1010 -16170.59  10114209
999999     98801178  271 14:51:56      5921     1010 -10025.77    123991

[1000000 rows x 6 columns]

In [ ]:
!gdown 1_xQt7DoowOru08obubtvQFAeTmYU5WCt

Downloading...
From: https://drive.google.com/uc?id=1_xQt7DoowOru08obubtvQFAeTmYU5WCt
To: /content/tr_types.csv
100% 14.2k/14.2k [00:00<00:00, 27.8MB/s]

In [ ]:
tr_types=pd.read_csv(filepath_or_buffer = "tr_types.csv",
           sep = ';')
tr_types

     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]

In [ ]:
!gdown 1mihj1Fq6UbEXVsD00vtdWw1a8zyHwwNf

Downloading...
From: https://drive.google.com/uc?id=1mihj1Fq6UbEXVsD00vtdWw1a8zyHwwNf
To: /content/gender_train.csv
100% 99.9k/99.9k [00:00<00:00, 99.8MB/s]

In [ ]:
gender_train=pd.read_csv(filepath_or_buffer = "gender_train.csv",
           sep = ',')
gender_train

      customer_id  gender
0        10928546       1
1        69348468       1
2        61009479       0
3        74045822       0
4        27979606       1
...           ...     ...
8395     90417572       0
8396     66837341       0
8397     10758984       1
8398     11376556       0
8399     29190649       0

[8400 rows x 2 columns]

In [ ]:
!gdown 1iwatUcj5yvMPSXpKFOPy-PDoJEEYhjqs

Downloading...
From: https://drive.google.com/uc?id=1iwatUcj5yvMPSXpKFOPy-PDoJEEYhjqs
To: /content/tr_mcc_codes.csv
100% 14.9k/14.9k [00:00<00:00, 31.6MB/s]

In [ ]:
tr_mcc_codes=pd.read_csv(filepath_or_buffer = "tr_mcc_codes.csv",
           sep = ';')
tr_mcc_codes

     mcc_code                                    mcc_description
0         742                                Ветеринарные услуги
1        1711  Генеральные подрядчики по вентиляции, теплосна...
2        1731                        Подрядчики по электричеству
3        1799  Подрядчики, специализированная торговля — нигд...
4        2741           Разнообразные издательства/печатное дело
..        ...                                                ...
179      9211  Судовые выплаты, включая алименты и детскую по...
180      9222                                             Штрафы
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

[184 rows x 2 columns]

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки [data](https://drive.google.com/drive/folders/1YAMe7MiTxA-RSSd8Ex2p-L0Dspe6Gs4L).

Для таблицы transactions используйте только первые n=1000000 строк. При чтении файлов обратите внимание на разделители внутри каждого из файлов - они могут различаться!

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;


Задания 1-4 делаются без использования merge!

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [ ]:
s_transactions=transactions.tr_type.sample(1000)
sd_transactions = pd.DataFrame({'tr_type': s_transactions})

tr_type_find = tr_types[tr_types['tr_description'].str.contains('POS|ATM')]['tr_type']

result_transactions = sd_transactions[sd_transactions['tr_type'].isin(tr_type_find)]

print(len(result_transactions) / len(sd_transactions))

0.41

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости (вывести для них tr_description тоже).

In [ ]:
count=transactions['tr_type'].value_counts()
count=count.reset_index()
count.columns=['tr_type', 'count']
print(count)

    tr_type   count
0      1010  231117
1      2010  151166
2      7070  149006
3      1110  137658
4      1030  118975
..      ...     ...
67     2446       4
68     4096       4
69     8146       3
70     1510       2
71     8100       2

[72 rows x 2 columns]

In [ ]:
top_count = count.head(10)
result_transaction = tr_types[tr_types['tr_type'].isin(top_count.tr_type)]

print(result_transaction)

     tr_type                                     tr_description
39      7010       Взнос наличных через АТМ (в своем тер.банке)
47      7030  Перевод на карту (с карты) через АТМ (в предел...
59      7070  Перевод на карту (с карты) через Мобильный бан...
60      7071  Перевод на карту (с карты) через Мобильный бан...
98      1010                              Покупка. POS ТУ СБ РФ
99      1030                     Оплата услуги. Банкоматы СБ РФ
100     1100                                Покупка. ТУ  Россия
101     1110                             Покупка. POS ТУ Россия
106     2010              Выдача наличных в АТМ Сбербанк России
129     2370  Списание с карты на карту по операции <перевод...

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов

In [ ]:
earned_money = transactions[transactions.amount > 0]
spent_money = transactions[transactions.amount < 0]

earned_sum = earned_money.groupby('customer_id')['amount'].sum()
max_earned_amount = earned_sum.max()

spent_sum = spent_money.groupby('customer_id')['amount'].sum()
max_spent_amount = spent_sum.min()

max_earned_customer = earned_sum.idxmax()
max_spent_customer = spent_sum.idxmin()

print("max_earned_amount:",max_earned_amount,"max_spent_amount:",max_spent_amount)
print("difference:", abs(max_earned_amount-max_spent_amount))
print("max_earned_customer:",max_earned_customer,"max_spent_customer:",max_spent_customer)

max_earned_amount: 1248114886.81 max_spent_amount: -1249952204.79
difference: 2498067091.6
max_earned_customer: 70780820 max_spent_customer: 70780820

## Задание 4
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций для клиентов из задания 3

In [ ]:
top_transactions = transactions[transactions['tr_type'].isin(top_count['tr_type'])]
mean_median = top_transactions.groupby('tr_type')['amount'].agg(['mean','median'])

print(mean_median)

                  mean     median
tr_type
1010     -19784.748640   -7411.52
1030      -5320.980222   -2245.92
1100     -44061.827262  -10188.26
1110     -32119.330371  -11207.57
2010    -136077.629325  -44918.32
2370    -205418.249032  -44918.32
7010     276391.789596  112295.79
7030      86104.332909   13951.52
7070      65569.831700   11319.42
7071      66806.826623    3593.47

In [ ]:
transactions_1 = transactions[(transactions['customer_id']==max_earned_customer)]
transactions_2 = transactions[(transactions['customer_id']==max_spent_customer)]

mean_median_1 = transactions_1['amount'].agg(['mean','median'])
mean_median_2 = transactions_2['amount'].agg(['mean','median'])

print(mean_median_1)
print(mean_median_2)

mean       -20.694946
median    8803.990000
Name: amount, dtype: float64
mean       -20.694946
median    8803.990000
Name: amount, dtype: float64

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(999584, 9)

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том,
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [ ]:
spent_money = transactions[transactions['amount'] < 0]
average_man = spent_money[spent_money['gender'] == 1]['amount'].mean()
average_women = spent_money[spent_money['gender'] == 0]['amount'].mean()
difference = abs(average_man - average_women)
print(difference)

32718.05492022467

In [ ]:
earn_money = transactions[transactions['amount'] > 0]
average_man = earn_money[earn_money['gender'] == 1]['amount'].mean()
average_women = earn_money[earn_money['gender'] == 0]['amount'].mean()
difference = abs(average_man - average_women)
print(difference)

63366.57104801465

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям "max_income".
2. Выделите среди них те типы транзакций, которые встречаются одновременно и у мужчин, и у женщин

In [ ]:
earn_money = transactions[transactions['amount'] > 0]

max_income = earn_money.groupby(['tr_type', 'gender'])['amount'].max()

max_income_men = max_income.loc[:, 1]
max_income_women = max_income.loc[:, 0]

men_transactions = max_income_men.nsmallest(10)
women_transactions = max_income_women.nsmallest(10)

print("men_transactions:")
print(men_transactions)

print("women_transactions:")
print(women_transactions)

men_transactions:
tr_type
2020      2245.92
4110      2245.92
1010     28803.87
8100     64682.37
6000     79280.83
7041     87590.72
2010     89836.63
2110    112295.79
2370    113194.15
7015    121279.45
Name: amount, dtype: float64
women_transactions:
tr_type
4051     1122.96
4110     2245.92
4210     2245.92
2370     2335.75
4100     5041.86
7075     6737.75
2110    22459.16
1010    24839.83
2010    44918.32
2210    68315.82
Name: amount, dtype: float64

In [ ]:
intersection = pd.merge(men_transactions,women_transactions, on='tr_type', how='inner')
print(intersection)

          amount_x  amount_y
tr_type
4110       2245.92   2245.92
1010      28803.87  24839.83
2010      89836.63  44918.32
2110     112295.79  22459.16
2370     113194.15   2335.75

## Задание 7

1. Найдите суммы затрат по каждой категории (mcc) для мужчин и для женщин.
2. Найдите топ 10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc кодов).

In [ ]:
spent_money= transactions[transactions['amount']<0]
spent_mcc=spent_money.groupby(['mcc_code', 'gender'])['amount'].sum()
print(spent_mcc)

mcc_code  gender
742       0.0       -386207.68
          1.0       -132277.93
1711      0.0       -674897.69
          1.0       -206264.90
1731      1.0       -121542.67
                       ...
9311      0.0       -406197.45
          1.0       -373271.22
9399      0.0      -1481389.65
          1.0      -1810820.67
9402      1.0         -4581.67
Name: amount, Length: 349, dtype: float64

In [ ]:
spent_money = spent_money.reset_index()

spent_money['difference'] = spent_money.groupby(['mcc_code'])['amount'].diff().abs()

categories = spent_money.groupby('mcc_code')['difference'].max()
categories = categories.nlargest(10).reset_index()

res = tr_mcc_codes[tr_mcc_codes['mcc_code'].isin(categories.mcc_code)]
print(res)

     mcc_code                                    mcc_description
22       4829                                  Денежные переводы
53       5311                                         Универмаги
62       5511  Легковой и грузовой транспорт — продажа, серви...
64       5533                          Автозапчасти и аксессуары
73       5651                              Одежда для всей семьи
80       5712  Оборудование, мебель и бытовые принадлежности ...
101      5944  Магазины по продаже часов, ювелирных изделий и...
103      5946           Магазины фотооборудования и фотоприборов
123      6010   Финансовые институты — снятие наличности вручную
131      7011   Отели, мотели, базы отдыха, сервисы бронирования

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте количество транзакций с amount<0 в ночное время для мужчин и женщин. Ночное время - это примерно 00-06 часов.

In [ ]:
transactions['tr_hour'] = transactions['tr_datetime'].str.extract(r' (\d{2}):')
tr_hour = pd.DataFrame({'tr_hour': transactions['tr_hour']})

print(tr_hour)

       tr_hour
0           10
1           07
2           07
3           08
4           14
...        ...
999579      23
999580      19
999581      22
999582      23
999583      23

[999584 rows x 1 columns]

In [ ]:
transactions['tr_hour'] = transactions['tr_hour'].astype(int)

transaction_man = transactions[(transactions['amount'] < 0) & (transactions['tr_hour'] >= 0) & (transactions['tr_hour'] < 6) & (transactions['gender'] == 1)]
transaction_women = transactions[(transactions['amount'] < 0) & (transactions['tr_hour'] >= 0) & (transactions['tr_hour'] < 6) & (transactions['gender'] == 0)]

count_transactions_man = len(transaction_man)
count_transactions_women = len(transaction_women)

print("count_transactions_man:",count_transactions_man)
print("count_transactions_women:",count_transactions_women)

count_transactions_man: 43017
count_transactions_women: 38827